@use 'sass:math';



@function rounder($value, $decimal-places: 3) {
  $e: math.pow(10, $decimal-places);
  $value: math.round($value * $e);
  $value: math.div($value, $e);

  @return $value;
}



@function insert-unit($value, $unit) {
  @return ($value * $unit);
}
