@use 'sass:math';
@use '../z_functions/maths' as *;



$ratio:                           math.div((1 + math.sqrt(5)), 2);                          // 1.618

$sp-xxs:                          rounder(math.pow($ratio, -4.321260271));                  // 0.125
$sp-xs:                           rounder(math.pow($ratio, -2.880840181));                  // 0.25
$sp-sm:                           rounder(math.pow($ratio, -1.44042009));                   // 0.5
$sp-md:                           rounder(math.pow($ratio, 0));                             // 1
$sp-lg:                           rounder(math.pow($ratio, 0.842591738));                   // 1.5
$sp-xl:                           rounder(math.pow($ratio, 1.44042009));                    // 2
$sp-xxl:                          rounder(math.pow($ratio, 1.904131786));                   // 2.5
$sp-xxxl:                         rounder(math.pow($ratio, 2.283011829));                   // 3
$sp-xxxxl:                        rounder(math.pow($ratio, 2.880840181));                   // 4
$sp-xxxxxl:                       rounder(math.pow($ratio, 3.723431919));                   // 6
